@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 284 84% 52%;
    --primary-foreground: 0 0% 100%;

    --bg-light: 276 100% 99%;

    --bg-dark: 278 33% 7%;

    --fg-light: 282 17% 8%;

    --fg-dark: 270 9% 97%;

    --muted-light: 282 17% 46%;

    --muted-dark: 278 9% 67%;

    --card-light: 0 0% 100%;

    --card-dark: 280 30% 12%;

    --border-light: 278 18% 87%;

    --border-dark: 277 22% 21%;

    --background: var(--bg-light);
    --foreground: var(--fg-light);
    --card: var(--card-light);
    --card-foreground: var(--fg-light);
    --popover: var(--card-light);
    --popover-foreground: var(--fg-light);
    --muted: var(--muted-light);
    --muted-foreground: var(--fg-light);
    --border: var(--border-light);
    --input: var(--border-light);
    --ring: var(--primary);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--bg-dark);
    --foreground: var(--fg-dark);
    --card: var(--card-dark);
    --card-foreground: var(--fg-dark);
    --popover: var(--card-dark);
    --popover-foreground: var(--fg-dark);
    --muted: var(--muted-dark);
    --muted-foreground: var(--fg-dark);
    --border: var(--border-dark);
    --input: var(--border-dark);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.hero-gradient {
  background-image: radial-gradient(
    circle at 50% 100%,
    #ab1ded33,
    transparent 40%
  );
}

.dark .hero-gradient {
  background-image: radial-gradient(
    circle at 50% 100%,
    #ab1ded44,
    transparent 50%
  );
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-item {
  scroll-snap-align: center;
  flex: 0 0 352px;
  opacity: 0.5;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}

.carousel-item:target {
  opacity: 1;
  transform: scale(1.05);
}
